{% extends 'layouts/base.html' %} {% block content %} {% load static %}

    <!-- Main content -->
    <main class="col-lg-10 ml-sm-auto px-4">
      <header class="d-flex justify-content-between align-items-center mt-4">
        <div>
          <h2>Dashboard</h2>
          <small class="text-muted">{{date}}</small>
          <h5 class="mt-3">Recomendaciones de cultivos</h5>
        </div>
        <div class="d-flex align-items-center">
          <span class="me-2">{{ user.username }}</span>
          <img
            src="{% static 'images/user.png' %}"
            width="30px"
            height="30px"
            class="rounded-circle ml-2"
            alt="Profile"
          />
        </div>
      </header>

      <div class="row">
        <div class="col-lg-10 ml-sm-auto px-5">

          <div class="carousel-container">
            <div class="carousel carousel--scroll-buttons carousel--scroll-markers">
              {% for plant in recommended %}
                <div class="carousel__slide" data-label="Montañas">
                    <img src="{% static plant.img_url %}" alt="{{ plant.name }}" class="carousel__img">
                    <div class="carousel__caption">
                        <h3>{{ plant.name }}</h3>
                        <p>{{ plant.variety }}</p>
                    </div>
                </div>
              {% endfor %}
            </div>
            <!-- Contenedor para marcadores (generado automáticamente) -->
            <div class="marker-container"></div>
          </div>

        </div>   
        <div class="col-lg-2 ml-sm-auto px-4 mt-lg-5">
          <div class="card mb-3" style="border-radius: 20px">
            <div class="card-body">
              <strong>Sabías que...</strong>
              <p class="mb-0">
                Cultivar el futuro es más fácil cuando sabes cuándo regar y
                cuándo esperar.
              </p>
            </div>
          </div>
          <a href="/crop/create" class="btn create-crop-button mb-3 grow">Iniciar nuevo cultivo</a>
        </div>
      </div>
      
      <div class="row  mb-4">
        <h5 class="ps-3 my-3">Pronósticos de clima</h5>
        <div class="col-lg-10 ml-sm-auto px-4">
          <!-- Pronósticos & Info -->
          {{ measurements|json_script:"measurements-data" }}
          <div style="height: 300px; position: relative;" class="card mb-3 mb-lg-0">
            <canvas id="comboChart"></canvas>
          </div>          
        </div>
        <div class="col-lg-2 ml-sm-auto px-4">

          <div class="card mb-2 h-50" style="border-radius: 20px">
            <div class="card-body text-center">
              <strong>Temperatura</strong> 
              <br>
              <i class="bi bi-thermometer-sun" style="font-size: 2rem; color: #ff5722;"></i>
              <div>25° C</div>
            </div>
          </div>

          <div class="card mb-2 h-50" style="border-radius: 20px">
            <div class="card-body text-center">
              <strong>Humedad</strong>
              <br>
              <i class="bi bi-moisture" style="font-size: 2rem; color: #36a2eb;"></i>
              <div>30%</div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock %}