<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans+Hebrew:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Plantium</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand navbar-title" href="#">PLANTIUM</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a
              class="nav-link {% if request.path == '/' %}active{% endif %}"
              href="#"
              >Inicio</a
            >
            <a
              class="nav-link {% if request.path == '/sobre-nosotros/' %}active{% endif %}"
              href="#"
              >Sobre nosotros</a
            >
            <a
              class="nav-link {% if request.path == '/login/' %}active{% endif %}"
              href="{% url 'login' %}"
              >Iniciar sesión</a
            >
          </div>
        </div>
      </div>
    </nav>

    <section class="main-section">
      <div class="main-content">
        <p class="subtitle">Planificador inteligente de cultivos</p>
        <h1>PLANTIUM</h1>
        <p class="home-text">
          Un sistema diseñado para optimizar el ciclo de siembra y cosecha
        </p>
        <a
          class="btn btn-plantium d-block d-md-none mt-4{% if request.path == '/login/' %}active{% endif %}"
          href="{% url 'login' %}"
          >¡Empieza ya!</a
        >
      </div>
      <div class="main-image desktop-image">
        <img src="{% static 'images/Mandarine.png' %}" alt="mandarino" />
      </div>
      <div class="main-image mobile-image">
        <img src="{% static 'images/Plant-vase-light.png' %}" alt="planta" />
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
