{% extends "layouts/base.html" %}
{% block content %}

    <h3> Cultivos Eliminados</h3>
    {% if not crops %} <p> No hay cultivos eliminados. </p> {% endif %}
    {% for crop in crops %}
        <ul>
            <li>
                {{crop.name}} - Estado: {{crop.status}} - Fecha: {{crop.init_date}} <br>
                Planta: {{crop.plant.name}} - Variedad: {{crop.plant.variety}} <br>
                Ultimo riego:  {% if crop.last_watering is none %} No se ha regado {% else %} {{crop.last_watering}} {% endif %} <br>
                <a href={% url "recover_crop" crop.id %}>Recuperar cultivo</a>
            </li>
        </ul>
    {% endfor %}

{% endblock %}