{% extends 'layouts/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="col-lg-10 ml-sm-auto px-4">
        <h1 class="text-center">Actualizar Cultivo</h1><br>

        <form action="{% url 'update_crop' crop.id %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-sm btn-outline-success">Actualizar</button>
            </div>
        </form>
    </div>
{% endblock %}