{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantium</title>
</head>
<body>

<h1>Registrarse</h1><br>

<form method="POST">
    {% csrf_token %}
    
    <div>
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
            <div style="color:red;">
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %} Turk3y@01
    </div>

    <div>
        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.errors %}
            <div style="color:red;">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% if form.password1.errors %}
            <div style="color:red;">
                {% for error in form.password1.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% if form.password2.errors %}
            <div style="color:red;">
                {% for error in form.password2.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <button type="submit">Registrarse</button>
</form>
{% endblock %}

</body>
</html>