{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>

    <div class="container-fluid dashboard-bg">
      <div class="row">
        <!-- Sidebar -->
        <!-- Botón para colapsar el sidebar (puede ir en tu navbar superior) -->
        <nav
          class="navbar navbar-expand-lg sidebar px-3 col-lg-2 flex-lg-column align-items-start"
        >
          <div class="container-fluid flex-lg-column align-items-start">
            <a class="navbar-brand text-white mb-4" href="#">PLANTIUM</a>
            <button
              class="navbar-toggler mb-3"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse flex-column w-100"
              id="sidebarMenu"
            >
              <ul class="navbar-nav flex-column w-100">
                <li class="nav-item mb-2 grow">
                  <a
                    class="nav-link active text-white d-flex align-items-center"
                    href="{% url 'dashboard' %}"
                  >
                    <img
                      src="{% static 'images/dashboard.png' %}"
                      width="25"
                      height="25"
                      class="me-2"
                      alt="Dashboard Icon"
                    />
                    <span>Dashboard</span>
                  </a>
                </li>
                <li class="nav-item mb-2 grow">
                  <a class="nav-link text-white d-flex align-items-center" href="{% url 'my_crops' %}">
                    <img
                      src="{% static 'images/tomato.png' %}"
                      width="30"
                      height="30"
                      class="me-2"
                      alt="Cultivos Icon"
                    />
                    <span>Cultivos</span>
                  </a>
                </li>
                <li class="nav-item mb-2 grow">
                  <a class="nav-link text-white d-flex align-items-center" href="{% url 'plants' %}">
                    <img
                      src="{% static 'images/plant.png' %}"
                      width="30"
                      height="30"
                      class="me-2"
                      alt="Plantas Icon"
                    />
                    <span>Plantas</span>
                  </a>
                </li>
                <li class="nav-item mb-2 grow">
                  <a class="nav-link text-white d-flex align-items-center" href="#">
                    <img
                      src="{% static 'images/settings.png' %}"
                      width="30"
                      height="30"
                      class="me-2"
                      alt="Ajustes Icon"
                    />
                    <span>Ajustes</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        
        {% block content %} 
        {% endblock %}

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="" async defer></script>
  </body>
</html>
