<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    </head>
    <body>
        <h2>NavBar</h2>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'plants' %}">Plants</a></li>
                <li><a href="{% url 'exit' %}">Salir</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign in</a></li>
                <li><a href="{% url 'signup' %}">Sign up</a></li>
            {% endif %}
        </ul>
        
            {% block content %}
            {% endblock %}
        
        <script src="" async defer></script>
    </body>
</html>